html {
  font-size: 100%;
  font-family: sans-serif;
}
body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}
#templates {
  display: none;
}
#menu {
  position: fixed;
  z-index: 999;
  top: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
  color: #FFF;
}
body.menu-left #menu {
  width: 10rem;
  left: 0;
  margin: 0 0 0 -8rem;
}
body.menu-right #menu {
  width: 130px;
  right: 0;
  margin: 0 -90px 0 0;
}
#menu .slider {
  width: 2rem;
  height: 100%;
  background-color: #BBB;
}
body.menu-left #menu .slider {
  margin-left: calc(100% - 2rem);
}
body.menu-right #menu .slider {
  margin-right: calc(100% - 2rem);
}
#menu .scrollbar {
  position: fixed;
  top: 0px;
  width: calc(2rem - 2px);
  border: 1px solid #080;
  color: #080;
  background-color: rgba(0, 255, 0, .3);
  z-index: 1000;
  pointer-events: none;
}
body.online #menu .scrollbar {
  background-color: #0F0;
}
body .syncInProgress {
  position: absolute;
  display: none;
  top: 0.3rem;
  left: 8.3rem;
  z-index: 1001;
  pointer-events: none;
}
body.sync .syncInProgress {
  display: inherit;
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#menu .onoff {
  color: #888;
}
body.online #menu .onoff {
  color: #0F0;
}
body.menu-left #menu .scrollbar {
  left: 0;
}
body.menu-left #menu.show .scrollbar {
  left: 8rem;
}
body.menu-right #menu .scrollbar {
  right: 0;
}
body.menu-right #menu.show .scrollbar {
  right: 90px;
}
#menu .content {
  float: right;
  width: 75px;
  line-height: 3em;
}
body.menu-left #menu .content {
  margin: 10px 70px 10px 10px;
}
body.menu-right #menu .content {
  margin: 10px 10px 10px 70px;
}
body.menu-left #menu.show {
  margin-left: 0;
}
body.menu-right #menu.show {
  margin-right: 0;
}
#menu .content > p {
  text-align: center;
}
#menu a.button {
  padding: 20px 20px;
}
#menu .content .inspect {
  color: #FFFFFF;
  text-decoration: none;
}
#menu.detail .content .back,
#menu.detail .content .top
{
  display: inline;
}
#menu.list .content .back,
#menu.list .content .top
{
  display: none;
}
#menu.detail .content .sync,
#menu.detail .content .settings,
#menu.detail .content .new
{
  display: none;
}
#menu.list .content .sync,
#menu.list .content .settings,
#menu.list .content .new
{
  display: inline;
}
#menu .content label.onoff {
  margin-left: -10px;
}
[data-tile]
{
  padding-top: 2em;
  list-style-type: none;
  max-width: 72em;
  display: none;
}
[data-tile] > header {
  margin: -2rem 0 1rem -1rem;
  padding: 0.5rem 1.5rem;
  background: linear-gradient(to bottom,  #1AFAA5,  #20F47A);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color: white;

}
[data-tile] > header h2 {
  margin: 0.5rem 0;
}
body.menu-left [data-tile] {
  padding-left: 2.5rem;
  padding-right: 0;
  width: calc(100% - 3rem);
}
body.menu-right [data-tile] {
  padding-left: 0px;
  padding-right: 2.5rem;
  width: calc(100% - 3rem);
}
#list {
  margin: 0;
  padding: 0;
}
#list .content,
#list .actions {
  display: none;
}
#list .current .content,
#list .current .actions {
  display: block;
}
#list .current .content .note {
  padding: 10px;
  display: block;
  float: left;
}
#list .current .content .tags {
  display: table-row;
  vertical-align: middle;
}
#list .current .content .tags * {
  padding: 2px;
  vertical-align: middle;
}
#list .current .content .tags .tag {
  display: table-cell;
  background-color: #F84;
  border: 1px solid #444;
  border-radius: 0 1.5em 1.5em 0 / 0 50% 50% 0;
  margin: 0px 5px;
}
#list .actions .compose {
  display: none;
}
#list [data-flags*=",editable,"] .compose {
  display: inline;
}
#list .filters {
  font-size: 1rem;
}
#main .filters fieldset {
  width: calc(100% - 5rem);
}
#main .filters a,
#main .current .actions a {
  padding: .5em;
  position: relative;
  top: -0.5em;
}
#main .filters a {
  font-size: 1rem;
}
#list > li {
  border-color: #888;
  border-width: 0 0 1px 0;
  border-style: solid;
  overflow: hidden;
  transition: transform 1s ease-in-out;
}
#main > .filters {
  margin-top: -1em;
}
#main > .filters fieldset {
  display: inline;
}
#main.detail > .filters {
  display: none;
}
#list > li h2 .hasNotes {
  display: none;
}
#main.list #list > li.hasNotes h2 .hasNotes {
  display: inline;
  font-size: 1rem;
  padding: 0 0.5rem;
}
#main.list #list > li[data-tags*=",archive,"] {
  display: none;
}
#main.list.archives .filters .archive,
#main.detail #list > li[data-tags*=",archive,"] .archive {
  color: #ff6347;
}
#main.list.archives #list > li[data-tags*=",archive,"] {
  display: block;
}
#main.list #list > li > h2 {
  margin: 0.66rem 0;
  font-size: 1.2rem;
}
#list > li > h2 > a {
  padding: 1rem 0;
  color: inherit;
  text-decoration: none;
}
#list > li img {
  max-width: 100%;
}
#list > li.hideLeft,
#list > li.showLeft {
  transform: translateX(-100%);
}
#list > li.hideRight,
#list > li.showRight {
  transform: translateX(100%);
}
#list a.action-icon:before {
  background-color: #000000;
  border-radius: 5px;
  margin: -7px 0 0 -40px;
}
#list a.action-icon {
  margin: 20px;
  padding: 0 20px;
}
/*
#list > li.public {
  border-color: #AFA;
}
#list > li.private {
  border-color: #FAA;
}
#list .text {
  margin: 40px;
  white-space: pre-wrap;
}
*/
#list .content pre {
  white-space: pre-wrap;
}
.hidden {
  display: none;
}
.shown {
  display: inherit;
}
body.menu-right #input,
body.menu-right #settings {
  margin-right: 50px;
  margin-top: 60px;
}
#input > form ,
#settings > form {
  max-width: 600px;
  margin: auto;
}
#tagList {
  list-style-type: none;
  padding: 0;
}
#tagList li {
  border-color: #888;
  border-width: 0 0 1px 0;
  border-style: solid;
  padding: 1rem .5rem;
}
/** Settings {{ **/
/** Credits {{ **/
#credits .title {
  text-align: center;
}
#credits .title img {
  border-radius: 50%;
  background-color: #0F0;
}
/** Credits }} **/
/** Console {{ **/
#debugLog {
  border: 1px solid #888;
  border-radius: 2px;
}
#debugLog .debug   { background-color: transparent; color: black; font-weight: bold;}
#debugLog .info    { background-color: green; color: white; font-weight: bold;}
#debugLog .warning { background-color: orange; color: white; font-weight: bold;}
#debugLog .error   { background-color: red; color: white; font-weight: bold;}
/** Console }} **/
/** Settings }} **/
/** Fonts **/
a[class*="icon-"] {
  color: inherit;
  text-decoration: none;
}
[class*="icon-"] {
  font-size: 1.6em;
}
fieldset.compact [class*="icon-"] {
  font-size: 1em;
}
