html {
  font-size: 10px; /* Needed for icons */
}
body {
  background-color: #FFF;
}
body.sync {
  background-color: #FEE;
}
body.menu {
  margin-left: 130px;
}
#main {
  color: #444;
  background-color: white;
  max-width: 40em;
  margin: 50px auto;
  padding: 20px;
}
#templates {
  display: none;
}
#menu {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 0 0 -110px;
  padding: 0;
  width: 150px;
  height: 100%;
  background-color: #000;
  color: #FFF;
}
#menu .slider {
  width: 40px;
  height: 100%;
  background-color: #888;
  margin-left: calc(100% - 40px);
}
body.online #menu .slider {
  background-color: #0F0;
}
#menu .content {
  float: right;
  width: 75px;
  margin: 10px 70px 10px 10px;
  line-height: 4em;
}
#menu.show {
  margin-left: 0;
}
#menu .content > p {
  margin-bottom: 20px;
  padding-left: 30px;
}
#menu a.button {
  padding: 20px 20px;
}
#list {
  list-style-type: none;
  font-size: 1.2em;
}
#list .content, #list .actions {
  display: none;
}
#list .current .content, #list .current .actions {
  display: block;
}
#list > li {
  margin: 5px;
  padding: 1px 10px;
  border-color: #888;
  border-width: 0 0 1px 0;
  border-style: solid;
}
#list a.action-icon:before {
  background-color: #000000;
  border-radius: 5px;
  margin: -7px 0 0 -40px;
}
#list a.action-icon {
  margin: 20px;
  padding: 0 20px;
}
/*
#list > li.public {
  border-color: #AFA;
}
#list > li.private {
  border-color: #FAA;
}
*/
#list .text {
  margin: 40px;
  white-space: pre-wrap;
}
.hidden {
  display: none;
}
a.button {
  padding: 5px 10px;
  background-color: #008BC6;
  border: 2px solid #FFF;
  border-radius: 15px;
  color: #FFF;
  font-size: 2em;
  letter-spacing: 2px;
  text-decoration: none;
  text-shadow: 2px 2px 5px #000;
  background-image: -moz-linear-gradient(bottom, rgb(0,140,196) 66%, rgb(130,220,255) 99%);
}
#input, #settings {
  margin-left: 50px;
  margin-top: 60px;
}
#input > form , #settings > form {
  max-width: 600px;
  margin: auto;
}
